body{
    width: 100%;
    box-sizing: border-box;
    background-color: #02121a;
}

*{
    box-sizing: 100%;
    width: 100%;
}


.container-pub{
    border: 2px solid;
    height: 500px;
    width: 55%;
    display: grid;
    justify-content: center;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 8px;
    z-index: 1;
    box-shadow:  0 0  12px rgb(0, 255, 255);
    background-color: #021b27;
}

.div_img{
    border: 1px solid;
    height: 400px;
    width: 400px;
    margin-left: -4%;
    /* margin-top: 15%; */
}

#div_conteudo{
    display: flex;
    justify-content: space-between;
}

.infoUser{
    width: 80%;
    border: 2px solid;
    height: 50px;
    margin-top: 10%;
    margin-bottom: 0px;
    margin-left: -4%;
    align-items: center;
    display: flex;
}

#div_imgPerfil{
    border: 2px solid;
    height: 40px;
    width: 40px;
}

#nomePerfil{
    height: 30px;
    display: flex;
    width: 40%;
    margin-left: 10px;
    align-items: end;
    font-size: 18px;
    color: #dceeff;;
}

.right-container{
    border: 2px solid;
    height: 93.2vh;
    right: 0;
    width: 30%;
    z-index: 3;
    float: right;
    display: grid;
    justify-items: center;
    background-color: #07222e;
}

#div_ranking{
    border: 2px solid;
    height: 250px;
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    box-shadow:  0 0  12px rgb(0, 255, 255);

}

#div_myInfo{
    border: 2px solid;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

}

#div_contatos{
    border: 2px solid;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nomeperfil p{
    color: #dceeff;
}