* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}
.publicacao {
  border: 2px solid #333;
  padding: 15px;
  margin: 15px 0;
  width: 80%;
  text-align: left;
  background-color: #fff;
}

.publicacao span:first-child {
  display: block;
  border: 1px dashed #999;
  padding: 5px;
  margin-bottom: 8px;
}

.publicacao-nome {
  display: block;
  border: 1px dashed #00aaff;
  padding: 5px;
  margin-bottom: 8px;
}

.publicacao-titulo {
  display: block;
  border: 1px dashed #ffaa00;
  padding: 5px;
  margin-bottom: 8px;
}

.publicacao-descricao {
  border: 1px dashed #ff5555;
  padding: 8px;
  margin-bottom: 12px;
}

.div-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.publicacao-btn-editar {
  padding: 8px 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}

.publicacao-btn-editar:hover {
  background-color: #aaa;
}
