* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  padding: 15px 6%;
  background-color: #06141e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 50;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.295);
  transition: all 0.3s ease;
}

.header:hover{
  background-color: #040c13;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu a {
  font-family: "Manrope", sans-serif;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
  padding: 6px 0;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #00ffff;
}

.logo h1, h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.8rem;
  color: #00e6ff;
  text-transform: uppercase;
}

.logo span {
  color: #ffffff;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #b8d8e8;
  font-family: "Manrope", sans-serif;
  transition: 0.3s;
}

.menu a:hover {
  color: #00ffff;
}

.btn-logout h3 {
    color: #ff6e6e;
}

.btn-logout:hover {
    background: #310909;
    border-color: #ff4d4d;
    box-shadow: 0 0 15px #ff4d4d88;
}

.dash-right {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.avisos .container {
    max-width: 700px;
    margin: 0 auto;
    background: #04101f;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid #0af;
    box-shadow: 0 0 25px #00d9ff55;
    animation: fadeIn 0.5s ease forwards;
}

.avisos h1 {
    text-align: center;
    color: #00d9ff;
    margin-bottom: 25px;
    text-shadow: 0 0 12px #00eaff;
}

.div-form label {
    display: block;
    margin: 15px 0;
    font-size: 1rem;
    color: #b9e8ff;
}

.div-form input,
.div-form textarea {
    width: 100%;
    background: #031525;
    color: #d4f5ff;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #0af;
    font-size: 1rem;
    outline: none;
    transition: 0.2s ease;
    box-shadow: inset 0 0 8px #00c6ff33;
}

.div-form input:focus,
.div-form textarea:focus {
    border-color: #00eaff;
    box-shadow: 0 0 12px #00eaff88;
}

.div-form button {
  width: 50%;
  padding: 10px 0;
  background-color: #031928;
  border: 1px solid #00e6ff;
  color: #dceeff;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
  margin-top: 25px;
  margin-left: 25%;
}

.div-form button:hover {
  box-shadow: 0 0 12px #00e6ff, 0 0 20px #00e6ff;
  transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
